/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*#frm_marcas >div{
	padding: 10px;
}

#frm_marcas label{
	width: 70px;
	display: inline-block;
}

#frm_marcas select{
	width: 160px;
}


#tbl-modelos .delete{
	color:#dc3232;	
}

#tbl-modelos{
	max-width: 480px;
}*/

/*body.edit-tags-php #acf-marcas{
  display:none;
}
*/
